body {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "nav";
  gap: 8px;

  background: lightskyblue;
  overflow-y: scroll;
  font-family: system-ui, sans-serif;
}

@media (min-width: 1000px) {
  body {
    grid-template-areas:
      "nav header"
      "nav main";
  }
}

form {
  grid-area: header;
}

nav {
  grid-area: nav;
  inline-size: 250px;

  background-color: hsl(0 0% 100% / .375);
}

main {
  grid-area: main;
}

main a {
  display: block;
  background: hsla(0, 0%, 100%, .25);
  padding: .5em;
  margin: .5em 0;
  border: 3px solid hsla(0, 0%, 100%, .25);
  text-decoration: none;
  color: #008;
  font-size: 1.5em;
}

main a:hover {
  border-color: hsla(0, 0%, 100%, 1);
}

main a:active {
  background: hsla(0, 0%, 0%, .25);
}

main a small {
  font-size: .75em;
  opacity: .75;
}

form {
  background: hsla(0, 0%, 100%, .25);
  border: 1px solid hsla(0, 0%, 0%, .15);
}

form label {
  display: block;
  padding: 5px;
}

form label:has(input:checked) {
  background: hsl(0 0% 100% / .5);
}

@media (min-width: 1000px) {
  form label {
    display: inline-block;
    margin-right: 10px;
  }
}

form input[type="number"] {
  width: 50px;
}

form input[type="text"] {
  width: 110px;
}

form inspag-body {
  display: block;
  font-size: 1.25em;
  opacity: .9;
  font-family: monospace;
  word-spacing: .4em;
}
